<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%-include('./partials/header.ejs') %> 
   

        <p style="    height: 65px;
    font-size: 40px;
    border-bottom: 1px solid #bcaaaa;
    padding: 10px 550px;">OUT-OF-STOCK</p>
        <p>The item/s is out of stock.Please update your cart. </p>

        <div class="its">

            <div class="ok">
                <div class="card">
                    <div class="inner-card">
                        <img src="<%=product.image%> " class="img-fluid rounded">
                        <div class="d-flex justify-content-between align-items-center mt-3 px-2">
                            <h4>
                                <%=product.name%>
                            </h4>
                        </div>
                        <div class="mt-2 px-2">
                            <small>
                                <%= product.description %>
                            </small>
                        </div>
                        <div class="px-2">
                            <h3>Rs. <%= product.price %>
                            </h3>
                        </div>


                    </div>
                </div>


            </div>
            <a href="/cart">GO BACK TO CART</a>

        </div>


</body>






</html>
