<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/account.css">
    <style>
        body {
      background-image: url('static/images/account-background.jpeg');
      background-size: cover;
    }
    .full{
      display: flex;
    }
    li{
      list-style-type: none;
    }
    .head{
      position: relative;
    width: 48%;
    left: 86px;
    line-height: 50px;
    }
    .body{
    
    width: 48%;
    
    line-height: 50px;
    }
    .invalid {
      border: 2px solid red;
    }
    </style>
</head>
<body>
    
    <div id="acut">
      <div id="acuth">
        <h2> YOUR DETAILS</h2>
      </div>
      <div class="full">
      <div class="head">
      <ul>
        <li>Name</li>
        <li>Phone Number</li>
        <li>Email</li>
        <li>Username</li>
      </ul>
    </div>
    <div class="body">
      <div id="fullname"><%= seller.sfullname %></div>
      <div id="phone"><%= seller.sphoneNumber %></div>
      <div id="email"><%= seller.semail %></div>
      <div id="username"><%= seller.susername %></div>

      
    </div>
    </div>
      <div id="changes">
        <button id="edit-btn">Edit Profile</button>
      </div>
    </div>

    <div id="edit-form" style="display:none;
    border: 2px solid black;
    padding: 55px;
    background: transparent;
    border-radius: 9px;
    backdrop-filter: blur(10px);">
      <form action="/sellersupdate" method="POST">
        <input type="hidden" name="id" value="<%= seller._id %>">
        <label for="fullname">Full Name:</label>
        <input type="text" name="fullname" value="<%= seller.fullname %>">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" value="<%= seller.email %>">
        <br>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" name="phoneNumber" value="<%= seller.phoneNumber %>">
        <br>
        <label for="username">Username:</label>
        <input type="text" name="username" value="<%= seller.username %>">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <button type="submit">Update Profile</button>
      </form>
    </div>

    

    <script >
 const editBtn = document.querySelector('#edit-btn');
 const body = document.querySelector('.body');
      const editForm = document.querySelector('#edit-form');
      const acut = document.querySelector('#acut');

      editBtn.addEventListener('click', () => {
        editForm.style.display = 'block';
        editBtn.style.display = 'none';
        body.style.display = 'none';
        acut.style.display = 'none';
      });


    </script>
  </body>
</html>